.app {
}
.app-block {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid darkblue;
  padding: 40px;
  border-radius: 25px;
  background: rgba(12, 12, 86, 0.683);
}
.app-block__question {
  font-size: 30px;

  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 33px;
}
.app-block__answer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;
  gap: 10px;
}

.app-block__answer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  font-size: 20px;
  border: 1px solid #555;
}
.app-block__answer-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.show-block {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid darkblue;
  padding: 40px;
  border-radius: 25px;
  /* background: radial-gradient(rgba(12, 12, 86, 0.683), rgba(12, 72, 86, 0.683));
   */
  background: rgba(12, 12, 86, 0.683);
  color: aliceblue;
  font-size: 25px;
}
.show-block__button {
  padding: 10px 20px;
  background: inherit;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
}
.show-block__button:hover {
  opacity: 0.5;
}
